<body>
  <div id="contenedor">



    <mat-form-field>
      <input type="text" class="example-full-width" [(ngModel)]="art.Nombre_emp" extarea matInput
        placeholder="Nombre empresa" required>
    </mat-form-field>

    <mat-form-field>
      <input type="number" class="example-full-width" [(ngModel)]="art.Telefono" extarea matInput placeholder="Telefono"
        required>

    </mat-form-field>

    <mat-form-field>
      <input type="adress" class="example-full-width" [(ngModel)]="art.Direccion" extarea matInput
        placeholder="Direccion" required>

    </mat-form-field>

    <mat-form-field>
      <input type="text" class="example-full-width" [(ngModel)]="art.Ciudad" extarea matInput placeholder="Ciudad">

    </mat-form-field>


    <br>
    <button mat-raised-button color="primary" (click)="alta()">Crear Empresa</button>
  </div>
  ////////////////////////////////////////
  <div id="contenedor">

    <form (ngSubmit)="alta()">

      <div class="form-group">
        <label class="col-sm-3 control-label">Nombre Empresa</label>
        <div class="col-sm-4">
          <input type="text" name="Nombre_emp" [(ngModel)]="art.Nombre_emp" class="form-control"
            placeholder="Nombre Empresa" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Telefono</label>
        <div class="col-sm-4">
          <input type="text" name="Telefono" [(ngModel)]="art.Telefono" class="form-control" placeholder="Telefono"
            required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Direccion</label>
        <div class="col-sm-4">
          <input type="text" name="Direccion" [(ngModel)]="art.Direccion" class="form-control" placeholder="Direccion"
            required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Ciudad</label>
        <div class="col-sm-4">
          <input type="text" name="Ciudad" [(ngModel)]="art.Ciudad" class="form-control" placeholder="Ciudad" required>
        </div>
      </div>




      <div class="form-group">
        <label class="col-sm-3 control-label">&nbsp;</label>
        <div class="col-sm-6">
          <input type="submit" name="add" class="btn btn-sm btn-primary" value="Crear Empresa"
            onSubmit="window.location.reload()">

        </div>




      </div>

    </form>
  </div>
  //////////////////////////////////////////

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre_emp</th>
        <th scope="col">Telefono</th>
        <th scope="col">Direccion</th>
        <th scope="col">Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of empresa">



        <td>{{art.Nit}}</td>
        <td>{{art.Nombre_emp}}</td>
        <td>{{art.Telefono}}</td>
        <td>{{art.Direccion}}</td>
        <td>{{art.Ciudad}}</td>
      </tr>
    </tbody>
  </table>



</body>